{% load django_bootstrap5 %}
<!doctype html>
<html lang="ja">
<head>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/hps_program.css' %}">
  <!-- スクショ機能用CDN -->
  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  <title>HPSトレーニングプログラム自動組み立て</title>
</head>
<body>
  <div class="header pt-3 ps-sm-4">
    <h2 class="title text-center text-sm-start">HPSトレーニングプログラム<wbr>自動組み立て</h2>
    <div class="explain-hps ps-3 pe-3 ps-sm-0 pe-sm-0">
      <p class="m-0">HPSトレーニング法とは、</p>
      <p class="m-0">筋肥大（Hypertrophy）<wbr>爆発的挙上力（Power）<wbr>筋力（Strength）<wbr>を同時に向上させることを目的としたトレーニング法です。</p>
      <p class="m-0">1回ギリギリ挙げられる重さ（1RM）から、<wbr>自動的にトレーニングメニューを構築します。</p>
      <details class="mt-1 ms-1">
        <summary><b>詳しい実施方法</b></summary>
        <p class="m-0">1週間の中で筋肥大(H),パワー(P),筋力(S)のメニューを1回ずつ実施する。</p>
        <p class="m-0">実施順はH⇒P⇒S。</p>
        <details class="ms-1">
          <summary>実施例</summary>
          <div class="row">
            <div class="col-4 col-sm-2 m-0 pe-0">
              <p class="m-0">月⇒筋肥大(H)</p>
              <p class="m-0">水⇒パワー(P)</p>
              <p class="m-0">金⇒筋力(S)</p>
            </div>
            <div class="col-6 col-sm-3 m-0 ps-0">
              <p class="m-0">※各セット間のレストは5分程度</p>
              <p class="m-0">※各セット間のレストは2分程度</p>
              <p class="m-0">※各セット間のレストは5分程度</p>
            </div>
          </div>
        </details>
      </details>
      <details class="mt-1 ms-1">
        <summary><b>参考動画</b></summary>
        <p class="m-0 recommend-comment">【筋トレ】1ヶ月半でベンチプレスを強くする「HPSトレーニング」とは!?BIG3の最強プログラムを解説!</p>
        <iframe src="https://www.youtube.com/embed/oqiscgy4XO8?si=3akGHISl5bq1YqPz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </details>
      </div>
    </div>
  </div>  
  <div class="main">
    <div class="container">
      <div class="explain">
        <br>
        <h3 class="form-guide">1回ギリギリ挙げられる重さを入力してください</h3>
        <form action="" method="post">
        {% csrf_token %}
        <input class="form-control-sm" type="number" step=0.1 min=10 max=1000 required="required" name="max_weight" placeholder=100>
        <button class="btn btn-primary btn-sm" style="margin-bottom:0.3%;" type="submit">送信</button>
        </form>
      </div>
      <!-- メッセージがある場合に表示 -->
      {% if program.max_weight or program.max_weight == 0 %}
        <button id="capture" class="btn btn-outline-primary btn-sm mt-1 mb-1">メニューのスクリーンショットを作成</button>
        <div class="result">
          <div>
            <p class="max-weight"><b>MAX重量</b></p>
            <p>{{ program.max_weight }}kg</p>
          </div>
          <div class="row">
            {% for hps_menus_per_week in program.hps_menus_for_weeks %}
            <div class="col-sm-2">
              <p class="week-num"><b>{{ forloop.counter }}週目</b></p>
              <p><b>筋肥大メニュー(H)</b></p>
              <p>{{ hps_menus_per_week.h_menu.weight }}kg</p>
              <p>{{ hps_menus_per_week.h_menu.reps }}レップ</p>
              <p>{{ hps_menus_per_week.h_menu.sets }}セット</p>
              <p><b>パワーメニュー(P)</b></p>
              <p>{{ hps_menus_per_week.p_menu.weight }}kg</p>
              <p>{{ hps_menus_per_week.p_menu.reps }}レップ</p>
              <p>{{ hps_menus_per_week.p_menu.sets }}セット</p>
              <p><b>筋力メニュー(S)</b></p>
              <p>{{ hps_menus_per_week.s_menu.weight }}kg</p>
              <p>{{ hps_menus_per_week.s_menu.reps }}</p>
              <p>{{ hps_menus_per_week.s_menu.sets }}セット</p>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div class="link-guide mt-2 mb-3">
        <a href="{% url 'one_rm_max' %}">1RMパーセンテージ計算ツールへ</a>
      </div>
    </div>
  </div>
  <hr class = "mb-2">
  <div class="footer ps-sm-4">
    <p class="text-center text-sm-start">© 2025 developed by Shinya Kato</p>
  </div>
  <script>
    // スクショボタンの設定
    const captureBtn = document.getElementById("capture");
    captureBtn.addEventListener("click", () => {
      // 押下時処理
      html2canvas(document.querySelector(".result")) // 結果画面をキャプチャ
      .then(canvas => {
      const imgData = canvas.toDataURL("image/png"); // 描画したhtmlをpng形式に変換
      const newTab = window.open(); // 新しいタブを開く
      newTab.document.write("<img src='" + imgData + "'>"); // 開いたタブに書き込み
      });
    });
  </script>
</body>
</html>