html {
    font-size: 16px;
}

.title{
    word-break: keep-all; 
}

.explain-hps {
    word-break: keep-all;
}

.recommend-comment{
    font-size:0.7rem;
    word-break: keep-all;
}

.week-num{
    text-decoration: underline;
    text-decoration-style: double; 
}

.max-weight{
    text-decoration: underline;
    text-decoration-style: double; 
}

.link-guide{
    font-size:0.8rem;
}

.footer{
    font-size:0.5rem;
    color:grey;
}

/* スマホサイズ以下の設定 */
@media(max-width:767px){
    .title {
        font-size:1.3rem;
    }

    .explain-hps {
        font-size:0.7rem;
    }

    .form-guide{
        font-size:1.1rem;
    }
}