html {
    font-size: 16px;
  }

.form-guide {
    word-break: keep-all;
}

.link-guide{
    font-size:0.8rem;
}

.footer{
    font-size:0.5rem;
    color:grey;
}

/* スマホサイズ以下の設定 */
@media(max-width:767px){
    .title {
        font-size:2.0rem;
    }

    .form-guide {
        font-size:1.0rem;
    }
}